main {
  margin-bottom: 2vh;
}
.contact-title {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 110px;
    font-weight: 400;
}
.contact-p {
  text-align: center;
  padding-top: 15px;
  font-size: 1.2rem;
}
.ct-form {
    position: relative;
    margin: 20px 50px;
    
    .contact-form {
        display: flex;
        flex-direction: column;

        .ct-label {
            padding: 30px 0 12px  0;
            font-size: 1rem;
        }
        .ct-input {
            padding: 5px;
            border: solid 1px #C09066;
            height: 20px;
            background-color: antiquewhite;
            color: #454B5C;
            font-size: 1.3rem;
            border-radius: 0.5rem;
        }
        .ct-input-txt {
            height: 80px;
            resize: none;
        }
        .ct-button {
            background-color: #3A3D46;
            color: #C09066;
            cursor: pointer;
            font-size: 1.2rem;
            border-radius: 10px;
            margin: 35px auto 0;
            padding: 10px 20px;
            border: solid 1px;
        }
    }
    .ct-input {
      padding: 5px;
      border: solid 1px #c09066;
      height: 20px;
      background-color: antiquewhite;
      color: #454b5c;
      font-size: 1.3rem;
      border-radius: 0.5rem;
    }
    .ct-input-txt {
      height: 80px;
      resize: none;
    }
    .ct-button {
      background-color: #3a3d46;
      color: #c09066;
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: 10px;
      margin: 35px auto;
      padding: 10px 20px;
      border: solid 1px;
    }
  }

.iFrameContainer {
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-top: 8vh;

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }
  iframe {
    width: 80vw;
    height: 100%;
    margin-top: 5vh;
  }
}

.popin {
    position: fixed;
    width: 100vw;
    background-color: rgba(31, 31, 31, 0.9);
    height: 90vh;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;

    &.show {
        visibility: visible;
    }

    &.opacityMax {
        opacity: 1;
    }
  }

.popMsg {
    display: flex;
    width: 80vw;
    left: 10vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 65px 15px;
    background-color: #3A3D46;
    margin: 0 15px;
    border-radius: 2rem;

    h3, p {
        font-size: 22px;
        margin: 30px 0px;
        text-align: center;
    }
}

  @media screen and (min-width: 500px) {

    .section-contact {
      display: flex;
      margin-top: 20vh;
    }
    .ct-form {
      width: 50%;
      margin: 0;
    }
    .contact-title {
      padding-top: 95px;
    }
    .contact-title {
      padding: 0;
    }
    .ct-form form {
      max-width: 80%;
      width: 100%;
      margin: 0 auto;
    }
    .iFrameContainer {
      width: 50%;
      height: 600px;
      margin: 0;
    }
    .iFrameContainer h3 {
      padding-bottom: 60px;
    }
    .iFrameContainer iframe {
      margin: 0;
      max-width: 80%;
      width: 100%;
      //max-height: 400px;
      //height: 100%;
    }
    .popin {
      width: 30%;
      height: 55%;
      top: 30%;
      left: 35%;
      border-radius: 1rem;
    }
  }