$darkerMainColor: #3a3d46;
$lighterMainColor: #454b5c;
$goldColor: #c09066;
$globalTextColor: antiquewhite;

#addToCartOK {
  position: fixed;
  left: 12vw;
  top: -30%;
  width: 60vw;
  background-color: rgba(34, 70, 0, 0.794);
  color: antiquewhite;
  border: 1px antiquewhite solid;
  z-index: 15;
  font-size: 26px;
  padding: 3vh;
  transition: 0.4s ease-in-out;

  &.present {
    top: 0%;
  }
}

main {
  margin-top: 10vh;
  margin-bottom: 1vh;
  color: $globalTextColor;
  text-align: center;

  .page-title {
    margin: 15vh 0 2vh 0;
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    color: $goldColor;
  }

  #footer {
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }

  .hidden-slider {
    display: none;
  }

  #loading {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 1;
    animation: flashing 0.5s ease infinite alternate;
    font-size: 2rem;
  }
  @keyframes flashing {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.2;
    }
  }

  .product {
    padding-top: 2%;
    padding-bottom: 6%;

    .section-pres {
      margin: 4%;
    }

    .section-desc {
      line-height: 100%;
      display: none;
    }
    .section__title {
      margin: 8% 0 5% 0;
      font-family: 'Poiret One', cursive;
      text-decoration: underline;
      font-size: 1.4rem;
      color: $goldColor;
    }

    .swiper-container {
      height: 60%;
      padding: 3% 0 5% 0;
      z-index: 0; // TODO Modifier le z-index du menu burger et baniere
      display: flex;
      flex-direction: column;
    }
    .swiper-wrapper {
      height: 80%;

      .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        overflow: hidden;
        border: solid 1px $goldColor;
        border-radius: 0.5rem;
        margin-bottom: 5px;

        .product__title {
          margin: 8% 0 5% 0;
          line-height: 110%;
          height: 12%;
          font-family: 'Poiret One', cursive;
          font-size: 1.3rem;
          color: $goldColor;
        }

        .product__img {
          height: auto;
          max-width: 90%;
        }

        .product__btn {
          margin: 2.5% 0;
          padding: 5px 10px;
        }
      }
    }

    .swiper-pagination {
      bottom: 0%;
      &-bullet {
        border: 0.5px solid #3a3d46;
        background: $goldColor;
      }
    }
  }
  .section-separation {
    width: 80%;
    height: 2px;
    background-color: $darkerMainColor;
    border-radius: 1px;
    margin: auto;
  }

  .more-info-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 10vh;
    background-color: rgba(31, 31, 31, 0.801);
    width: 100%;
    height: 91%;
    z-index: 5;

    &.popin-open {
      animation: fadein 0.3s linear forwards;
    }
    &.popin-closed {
      animation: fadeout 0.3s linear forwards;
    }
  }

  .more-info-popin {
    border: 1px solid black;
    background: $lighterMainColor;
    width: 80vw;
    height: 80vh;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 5% 0 5% 0;
      line-height: 110%;
      font-family: 'Poiret One', cursive;
      font-size: 1.3rem;
      color: $goldColor;
    }

    &__img {
      flex-grow: 4;
      width: auto;
      height: 40%;
    }

    &__desc {
      text-align: justify;
      padding: 5% 4% 0 4%;
      margin: 2%;
      border: 1px solid $goldColor;
      border-radius: 5px;
      height: 20%;
      overflow: scroll;
    }
    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: baseline;

      &-price {
        padding: 10px 0;
        margin: 5%;
        align-self: flex-start;
        color: $goldColor;
        font-weight: bold;
      }
      &-add-btn {
        margin: 5%;
        align-self: flex-end;
      }
    }

    .more-info-popin__close-btn {
      width: 30px;
      height: 30px;
      padding: 0;
      background: none;
      border: none;
      align-self: flex-end;
      .close-x {
        stroke: $goldColor;
        fill: transparent;
        stroke-linecap: round;
        stroke-width: 5;
      }
    }
  }
  @media screen and (min-width: 500px) {
    .product {
      padding: 0 2% 0 2%;
      display: flex;
      align-items: center;
      &.reversed {
        flex-direction: row-reverse;
      }
      .section-pres {
        max-width: 45%;
      }
      .section-desc {
        display: block;
      }
      &__title {
        font-size: 1.8rem;
      }
      .swiper-container {
        height: auto;
        width: 80%;
        padding-right: 2%;
      }
      .swiper-slide {
        height: auto;
        width: 30%;
      }
      .swiper-pagination {
        bottom: 5%;
      }
    }
    .more-info-popin {
      width: 40%;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
