$darkerMainColor: #3a3d46;
$lighterMainColor: #454b5c;
$goldColor: #c09066;
$globalTextColor: antiquewhite;

main {
  margin-top: 10vh;
  margin-bottom: 5vh;
  color: $globalTextColor;
  text-align: center;

  .hidden-slider {
    display: none;
  }

  #loading {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    opacity: 1;
    animation: flashing 0.5s ease infinite alternate;
    font-size: 2rem;
  }
  @keyframes flashing {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.2;
    }
  }

  .product {
    padding-top: 2%;

    .section-desc {
      display: none;
    }
    .section__title {
      margin: 8% 0 2% 0;
      height: 12%;
      font-family: 'Poiret One', cursive;
      text-decoration: underline;
      font-size: 1.5rem;
      color: $goldColor;
    }

    .swiper-container {
      height: 60%;
      padding: 3% 0 5% 0;
      z-index: 0; // TODO Modifier le z-index du menu burger et baniere
      display: flex;
      flex-direction: column;
    }
    .swiper-wrapper {
      height: 80%;

      .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        overflow: hidden;

        .product__title {
          margin: 8% 0 5% 0;
          line-height: 110%;
          height: 12%;
          font-family: 'Poiret One', cursive;
          font-size: 1.3rem;
          color: $goldColor;
        }
        .product__img {
          height: auto;
          max-width: 90%;
        }
        .product__btn {
          margin-top: auto;
          background: $goldColor;
          border-radius: 5px;
        }
      }
    }

    .swiper-pagination {
      bottom: 0%;
      &-bullet {
        border: 0.5px solid #3a3d46;
        background: $goldColor;
      }
    }
  }

  .more-info-container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 10vh;
    background-color: rgba(31, 31, 31, 0.801);
    width: 100%;
    height: 91%;
    z-index: 5;

    &.popin-open {
      animation: fadein 0.3s linear forwards;
    }
    &.popin-closed {
      animation: fadeout 0.3s linear forwards;
    }
  }

  .more-info-popin {
    border: 1px solid black;
    background: $lighterMainColor;
    width: 80vw;
    height: 80vh;
    position: fixed;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin: 5% 0 5% 0;
      line-height: 110%;
      font-family: 'Poiret One', cursive;
      font-size: 1.3rem;
      color: $goldColor;
    }

    &__img {
      flex-grow: 4;
      width: auto;
      height: 40%;
    }

    &__desc {
      margin: 2%;
      border: 1px solid $goldColor;
      border-radius: 5px;
      height: 20%;
      overflow: scroll;
    }
    &__add-btn {
      margin: 5%;
      align-self: flex-end;
    }
    button {
      position: fixed;
      top: 0.5%;
      right: 0.5%;
      width: 30px;
      height: 30px;
      padding: 0;
      background: none;
      border: none;
      .close-x {
        stroke: $goldColor;
        fill: transparent;
        stroke-linecap: round;
        stroke-width: 5;
      }
    }
  }
  @media screen and (min-width: 500px) {
    .product {
      padding: 0 2% 0 2%;
      display: flex;
      align-items: center;
      &.reversed {
        flex-direction: row-reverse;
      }
      .section-pres {
        max-width: 30%;
      }
      .section-desc {
        display: block;
      }
      &__title {
        font-size: 1.8rem;
      }
      .swiper-container {
        height: auto;
        width: 60%;
      }
      .swiper-slide {
        height: auto;
        width: 40%;
      }
    }
    .more-info-popin {
      width: 40%;
      button {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
